*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* STYLE STRUTTURA */
header{
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(143, 89, 8);
}

main{
    margin: 1.5rem;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(143, 89, 8);
}

/* STYLE HEADER */
h1{
    font-size: 40px;
    font-weight: 700;
    color: whitesmoke;
    margin-right: 150px;
}

h4{
    font-size: 25px;
    font-weight: 600;
    color: whitesmoke;
    margin: 0 30px;
}


select{
    margin:0 20px;
    padding: 8px;
    border: 4px solid #949494;
    border-radius: 10px;
    background-color: #fff;
    font-size: 18px;
    font-weight: 700;
}

/* STYLE BOTTONI */
#btn {
    padding: 8px;
    border: 2px solid #949494;
    border-radius: 10px;
    background-color: #fff;
    font-size: 18px;
    font-weight: 700;
}

/* STYLE MAIN */
#griglia{
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: 800px;
}

.quadrati{
    width: calc(800px / 10);
    height: calc(800px / 10);
    border: 2px solid white;
    background: rgb(9, 57, 121);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
}

.quadrati1{
    width: calc(800px / 9);
    height: calc(800px / 9);
    border: 2px solid white;
    background: rgb(9, 57, 121);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
}

.quadrati2{
    width: calc(800px / 7);
    height: calc(800px / 7);
    border: 2px solid white;
    background: rgb(9, 57, 121);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
}
.change {
    background-color: aquamarine;
}